@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-black: #23272A;
    --color-white: #ffffff;
    --color-off-white: #F6F6F6;
    --font-padrao: "Open Sans", sans-serif;
    --font-title: "Luckiest Guy", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    color: var(--color-black);
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 459px;
    background-image: url(./assets/images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 94px;
}

header .content {
    width: 757px;
    height: 270px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    /* centraliza horizontalmente */
    justify-content: center;
    /* centraliza verticalmente */
}

header .content h1 {
    width: 313px;
    height: 112px;
    text-align: center;
    color: #ffffff;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 56px;
}

header .content p {
    color: #ffffff;
    width: 757px;
    height: 66px;
    text-align: center;
    font-family: var(--font-padrao);
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    margin: 55px;
    margin-bottom: 25px;

}

header .content .btn {
    width: 502px;
    display: flex;
    justify-content: space-between;


}

header .content .btn button {
    width: 205px;
    height: 44px;
    border-radius: 28px;
    background-color: #ffffff;
    color: #23272A;
    border: none;
}

header .content .btn button:last-child {
    width: 281px;
    background-color: #23272A;
    color: #ffffff;
}

main .section-1 {
    width: 971px;
    height: 394px;
    background-color: blue;
    margin: 40px auto;

}

main .section-content {
    display: flex;
}
main .section-content img{
    width: 607px;
    height:394px;
}
main .section-1 .textos {
    width:348px;
    height:374px;
}